<div>
    <h3 [style.marginLeft.px]='50' [style.marginTop.px]='20'>{{pageTitle}}</h3>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Status</th>
            <th>Type</th>
            <th>Vehicle ID</th>
            <th>Chauffeur ID</th>
          </tr>
        </thead>
        <tbody *ngIf='getRequests !== undefined && getRequests.length'>
          <tr *ngFor='let fuelcard of getRequests'>
            <td><button class='btn btn-dark' (click)='onClickId(fuelcard.id)'>DETAILS</button></td>
            <td>{{fuelcard.id}}</td>
            <td>{{fuelcard.startDate}}</td>
            <td>{{fuelcard.endDate}}</td>
            <td>{{fuelcard.status}}</td>
            <td>{{fuelcard.type }}</td>
            <td>{{fuelcard.vehicleId }}</td>
            <td>{{fuelcard.chauffeurId }}</td>
          </tr>
        </tbody>
        <tbody *ngIf='getRequests == undefined || getRequests.length == 0'>
          <div class="noContentBox">
            <h1>No content</h1>
        </div>
        </tbody>
      </table>
    </div>
