.infoDashboard{
    left: 50%;
    right: 50%;
    margin-top: 50px;
    transform: translate(-50%);
    position: absolute;
    width: 100%;
    text-align: center;
}
.cardItems:nth-child(2){
    background: rgb(140,255,199);
    background: linear-gradient(1deg, rgba(140,255,199,1) 0%, rgba(59,149,231,1) 100%);
}
.cardItems:nth-child(1){
    background: rgb(255,229,140);
    background: linear-gradient(1deg, rgba(255,229,140,1) 0%, rgba(231,59,85,1) 100%); 
}
.cardItems:nth-child(3){
    background: rgb(190,140,255);
    background: linear-gradient(1deg, rgba(190,140,255,1) 0%, rgba(231,59,85,1) 100%); 
}
.cardItems:nth-child(4){
    background: rgb(255,238,140);
    background: linear-gradient(1deg, rgba(255,238,140,1) 0%, rgba(59,231,122,1) 100%); 
}
.cardItems:nth-child(5){
    background: rgb(140,255,254);
    background: linear-gradient(1deg, rgba(140,255,254,1) 0%, rgba(59,231,90,1) 100%); }
.cardItems:nth-child(6){
    background: rgb(255,188,140);
    background: linear-gradient(1deg, rgba(255,188,140,1) 0%, rgba(59,224,231,1) 100%); }
.cardView{
    background: rgb(235,235,235);
    background: linear-gradient(318deg, rgba(235,235,235,1) 0%, rgba(255,252,252,1) 100%); 
    border-radius: 20px;
    padding: 1rem;
    display: inline-block;
}
