.Page-active
{
    position: absolute;
    top: 2rem;
    left:0;
    right:0;
    bottom:2rem;
    width: 75%;
    background: white;
    transition: 0.6s;
    margin: auto;
    border-radius: 50Px;
}

.Page-notactive
{
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    width: 0%;
    height: 0%;
    background: white;
    transition: 0.6s;
    border-radius: 50Px;
}