.cardNav{
    width: 380px;
    height: auto;
    background-color: white;
    position:absolute;
    left: 50px;
    right: 0;

    top: 50px;
    bottom: 50px;
    border-radius: 25px;
}
.carNav{
    top: 100px;
}
.fuelcardNav{
    top: 150px;
}
.requestNav{
    top: 200px;
}

.navItem:hover{
    transition: 1.5s;
    cursor: pointer;
    background-color: #ebe8ed;
}
.menuItem{
    height: 30px;
    transition: filter 0.2s ease-in-out;
    filter:
        contrast(1000%)
        invert(100%)
        sepia(100%)
        saturate(100000%)
        hue-rotate(90deg)
        grayscale(100%)
        invert(100%);
}
.fleetTitle{
    color: #333333;
    position: absolute;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.fleetTitle:hover{
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    filter:invert(100%);
}
.navItem{
    position: absolute;
    width: auto;
    transition: 1.5s;
    font-family: 'Be Vietnam Pro', sans-serif;
    transition: filter 0.2s ease-in-out;
    border-radius: 7px;
    left: 5px;
    right: 5px;
}

.itemPosition{
    position: initial;
    margin-left: 15px;
    margin-right: 55px;
    background-color: none;
    transition: 0.5s;
}
.itemPosition:hover{
    transition: filter 0.2s ease-in-out;
    filter: invert(100%);
}
.cardNav span{
    float: right;
    color: #333333;
    transition: filter 0.2s ease-in-out;
}
.navItem:hover{ 
    animation: pulse 1s infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.01);}
  }
