.vehicleBody{   
    background: rgb(205,255,147);
    position: relative;
  
    background: linear-gradient(318deg, rgba(205,255,147,1) 0%, rgba(236,245,203,1) 100%); 
}

.cardItem:hover{   
    transition: 0.3s;
    opacity: 1;
    cursor: pointer;
}
.cardItem{
    transition: 0.3s;
    opacity: 0.7;
}

.infoItem{
    position: absolute;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    opacity: 0.5;
}
.infoItem{
    top: 25px;
    left: 50px;
}
.infoItem span{
    font-size: 20px;
    margin-left: 10px;
}
.infoItem h2{
    opacity: 1;
    color: black;
}
.cardImg{
    margin-bottom: 5px;
}
