<div class='card wholePage'>
  <div class='card'
      [style.margin.px]='50'
      [style.borderRadius.px] ='20'
      [style.borderColor]='borderColor'>
      <div 
      [style.margin.px]='50'>
        <button [style.marginRight.px]= '10' 
        class="btn btn-dark" 
        (click)='pageClick(1)'>Vehicles</button>
        <button class="btn btn-dark" (click)='pageClick(2)'>Chauffeurs</button>
      </div>
      <div 
      [style.marginBottom.px]='50'
      [style.marginLeft.px]='50'
      [style.marginRight.px]='50'>
        <pm-vehicles (idClick)='onEditClick($event,"vehicle")' *ngIf='getPage == 1'></pm-vehicles>
        <pm-chauffeurs (idClick)='onEditClick($event,"chauffeur")' *ngIf='getPage == 2'></pm-chauffeurs>
      </div>
     
  </div>
  <div class="container-fluid detailWrapper">
    <div class="card detailPage"
      [style.borderRadius.px] ='20'
      [style.borderColor]='borderColor'
      [style.marginBottom.px]= '50'>
          <pm-detailPage [detailName]='detailType.toUpperCase()' [detailId]='detailId'></pm-detailPage>
      </div>
      <div class="card dashBoardPage"
      [style.borderRadius.px] ='20'
      [style.borderColor]='borderColor'>
          <h1>test</h1>
          <h1>test</h1>
          <h1>test</h1>
      </div>
  </div>
</div>