.detailWrapper {
    overflow: hidden;
    background: rgb(235,235,235);
}
.detailPage{
    width: 50%;
    float:left; /* add this */
    margin-left: 35px;
    margin-right: 50px;

}
.dashBoardPage{
    overflow: hidden;
    margin-right: 35px;
    margin-left: 20px;
    
}
.wholePage{
    background: rgb(235,235,235);
    border: none;

}